<?xml version="1.0" encoding="UTF-8"?>
<!-- 
提取服务器的参数
端口号：8080
线程池大小：100
服务器遵循协议：Http/1.1
服务器资源根目录：WebContent
 -->
 
 <server>
 	<service>
 		<connector port="8080" maxThread="100" protocol="HTTP/1.1"></connector>
 		<webroot>WebContent</webroot>
 		<not-found-page>404.html</not-found-page>
 	</service>
 	<type-mappings>
 		<type-mapping ext="html" type="text/html"></type-mapping>
 		<type-mapping ext="jpg" type="image/jpeg"></type-mapping>
 		<type-mapping ext="png" type="image/png"></type-mapping>
 		<type-mapping ext="js" type="application/javascrip"></type-mapping>
 		<type-mapping ext="css" type="text/css"></type-mapping>
 		<type-mapping ext="ico" type="image/ico"></type-mapping>
 	</type-mappings>
 </server>